{% extends 'base.html.twig' %}
{% block body %}
    <h1>{% block title %}Bienvenido{% endblock %}</h1>
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" href="{{ path('app_provincia_index') }}" role="button">Provincias</a>
        </div>
        <div class="col">
            <a class="btn btn-primary" href="{{ path('app_ciudad_index') }}" role="button">Ciudades</a>
        </div>
    </div>
{% endblock %}
