<form method="post" action="{{ path('app_ciudad_delete', {'id': ciudad.id}) }}" onsubmit="return confirm('Seguro que deseas elimnar la Ciudad?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ciudad.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
