<form method="post" action="{{ path('app_provincia_delete', {'id': provincia.id}) }}" onsubmit="return confirm('Seguro que deseas elimnar la Provincia?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ provincia.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
